<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pods-WatchTesterApp WatchKit AppUITests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Watch.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WatchTesterApp WatchKit App (Complication).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WatchTesterApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>208389DD2716E19C000ABC6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>208389F32716E19E000ABC6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>208389FE2716E19E000ABC6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20838A072716E19F000ABC6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20838A282716E1A0000ABC6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20838A332716E1A0000ABC6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
